absl-py==2.2.2
astropy==6.0.1
astropy-iers-data==0.2025.5.26.0.37.21
asttokens==3.0.0
chex==0.1.89
comm==0.2.3
contourpy==1.3.0
corner==2.2.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
etils==1.5.2
exceptiongroup==1.3.0
executing==2.2.1
fonttools==4.58.0
healjax==0.2.2
healpy==1.17.3
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.30.1
ipython==8.18.1
jax==0.4.30
jax-cuda12-pjrt==0.4.30
jax-cuda12-plugin==0.4.30
jaxlib==0.4.30
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
matplotlib==3.9.4
matplotlib-inline==0.1.7
ml_dtypes==0.5.1
multipledispatch==1.0.0
nest-asyncio==1.6.0
numpy==1.26.4
numpyro==0.18.0
nvidia-cublas-cu12==12.9.0.13
nvidia-cuda-cupti-cu12==12.9.19
nvidia-cuda-nvcc-cu12==12.9.41
nvidia-cuda-runtime-cu12==12.9.37
nvidia-cudnn-cu12==9.10.1.4
nvidia-cufft-cu12==11.4.0.6
nvidia-cusolver-cu12==11.7.4.40
nvidia-cusparse-cu12==12.5.9.5
nvidia-nccl-cu12==2.26.5
nvidia-nvjitlink-cu12==12.9.41
opt_einsum==3.4.0
optax==0.2.4
packaging==25.0
parso==0.8.5
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.4.0
prompt_toolkit==3.0.52
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyerfa==2.0.1.5
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyzmq==27.1.0
scipy==1.13.1
six==1.17.0
stack-data==0.6.3
toolz==1.0.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
wcwidth==0.2.14
zipp==3.21.0
